.bckBtn {
    margin-left: 10%;
    margin-top: 10%;
}

.centered {
    margin-left: 42%;
    margin-top: 10%;

}

.centered2 {
    margin-left: 35%;
    margin-top: 10%;
}

.centered3 {
    margin-left: 45%;
    margin-top: 2%;
}

.centered4 {
    margin-left: 25%;
    margin-top: 2%;
}

.centered5 {
    margin-left: 25%;
}